# {{ ansible_managed }}

[Unit]
Description=RTPProxy
After=network.target
Documentation=https://www.rtpproxy.org

[Service]
Type=simple
PIDFile={{ rtpproxy_pid_file }} 

Restart=always
RestartSec=5s

LimitNOFILE={{ rtpproxy_nofile_limit }}

ExecStartPre=-/bin/mkdir /run/rtpproxy
ExecStartPre=-/bin/chown {{ rtpproxy_user }}:{{ rtpproxy_group }} /run/rtpproxy

ExecStart={{ rtpproxy_install_dir }}/bin/rtpproxy \
    -p {{ rtpproxy_pid_file }} \
    -u {{ rtpproxy_uname }} \
    -s {{ rtpproxy_ctrl_socket }} \
    -l {{ rtpproxy_addr }} \
    {{ "-A " + rtpproxy_advaddr if rtpproxy_advaddr else "" }} \
    -m {{ rtpproxy_min_port }} -M {{ rtpproxy_max_port }} \
    -T {{ rtpproxy_max_ttl }} \
    -d {{ rtpproxy_log_level }}

ExecStop=/usr/bin/pkill -F {{ rtpproxy_pid_file }}
ExecStopPost=-/bin/rm -R /run/rtpproxy

TimeoutStartSec=10
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target